/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        insert {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE                    &kp SQT        &kp COMMA  &kp PERIOD             &kp P         &kp Y        &kp F      &kp G  &kp C  &kp R  &kp L  &kp TAB
&kp LEFT_SHIFT                &kp A          &kp O      &kp E                  &kp U         &kp I        &kp D      &kp H  &kp T  &kp N  &kp S  &kp RIGHT_SHIFT
&mt LEFT_CONTROL PRINTSCREEN  &kp SEMICOLON  &kp Q      &kp J                  &kp K         &kp X        &kp B      &kp M  &kp W  &kp V  &kp Z  &kp BACKSPACE
                                                        &mt LEFT_ALT CAPSLOCK  &kp LEFT_WIN  &kp SPACE    &kp ENTER  &mo 1  &mo 2
            >;
        };

        lower {
            bindings = <
&kp F1  &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7        &kp F8     &kp F9            &kp F10            &kp F11        &kp F12
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5          &kp NUMBER_6  &kp N7     &kp N8            &kp N9             &kp N0         &trans
&trans  &trans        &trans        &trans        &kp GRAVE     &kp QUESTION    &kp MINUS     &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp DELETE
                                    &trans        &trans        &trans          &trans        &trans     &trans
            >;
        };

        visual {
            bindings = <
&trans  &trans  &trans  &trans          &trans        &trans    &trans  &trans          &trans  &trans  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans          &trans        &trans    &trans  &kp LEFT_ARROW  &trans  &trans  &trans           &trans
&trans  &trans  &trans  &kp DOWN_ARROW  &kp UP_ARROW  &trans    &trans  &trans          &trans  &trans  &trans           &trans
                        &trans          &trans        &trans    &trans  &trans          &trans
            >;
        };
    };
};
